<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          סנן חיילים
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="filter">
        <mat-form-field class="text">
            <mat-label>טקסט</mat-label>
            <input matInput [formControl]="textControl">
        </mat-form-field>
        <mat-form-field>
            <mat-label>מחלקה</mat-label>
            <mat-select [formControl]="platoonsFormControl">
                <mat-option [value]="undefined">--</mat-option>
                @for (p of platoons; track p) {
                    <mat-option [value]="p">{{p}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>פלוגה</mat-label>
            <mat-select [formControl]="companyFormControl">
                <mat-option [value]="undefined">--</mat-option>
                @for (c of companies; track c) {
                    <mat-option [value]="c">{{c}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>פק"ל</mat-label>
            <mat-select [formControl]="positionFormControl" multiple>
                <mat-option [value]="undefined">--</mat-option>
                @for (p of positions; track p) {
                    <mat-option [value]="p.key">{{p.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>