<div class="assignments-container">
    <app-assignments-filter 
        [filter$]="filter$" 
        (startDateSelected)="onStartDateSelected($event)" 
        (endDateSelected)="onEndDateSelected($event)"
        (modeSelected)="onModeSelected($event)">
    </app-assignments-filter>
    
    @if (assignmentMode === AssignmentMode.ByDay) {
        @if(missionsLoading$ | async) {
            <div class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
        } @else {
            <app-assignments-by-day 
                [assignmentsByDayByMission]="assignmentsByDayByMission"
                [canEdit]="canEdit"
                (removeSoldierFromMissionInstance)="onRemoveSoldierFromMissionInstance($event.soldierId, $event.missionInstanceId)">
            </app-assignments-by-day>
        }
    } @else if (assignmentMode === AssignmentMode.ByMission) {
        <app-assignments-by-mission></app-assignments-by-mission>
    } @else if (assignmentMode === AssignmentMode.BySoldier) {
        @if(soldiersLoading$ | async) {
            <div class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
        } @else {
            <app-assignments-by-soldier [soldierAssByDay]="soldierAssByDay" [instanceToMissionDic]="(instanceToMissionDic?.instanceToMissionDic$ | async)!"></app-assignments-by-soldier>
        }
    }
</div>