<h2 mat-dialog-title class="dialog-title">{{title}}</h2>
<mat-dialog-content>
    <div class="mission-details">
        <mat-form-field class="name">
            <mat-label>שם המשימה</mat-label>
            <input matInput [formControl]="nameForm" required>
            @if (nameForm.hasError('required')) {
                <mat-error class="mat-error-rtl">שדה חובה</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="description">
            <mat-label>תיאור</mat-label>
            <input matInput [(ngModel)]="mission.description">
        </mat-form-field>
        
        <!-- <div class="full"></div> -->
        @if (mission.requiredInstances) {
            <mat-form-field class="duration">
                <mat-label>משך</mat-label>
                <input matInput type="number" [formControl]="durationForm" min="1" required>
                @if (durationForm.hasError('required')) {
                    <mat-error class="mat-error-rtl">שדה חובה</mat-error>
                }
                @if (durationForm.hasError('min')) {
                    <mat-error class="mat-error-rtl">הערך חייב להיות גדול מ-0</mat-error>
                }
            </mat-form-field>
        }
        
        <mat-form-field class="soldiers-required">
            <mat-label>מספר חיילים</mat-label>
            <input matInput type="number" [formControl]="soldiersRequiredForm" min="1" required>
            @if (durationForm.hasError('required')) {
                <mat-error class="mat-error-rtl">שדה חובה</mat-error>
            }
            @if (durationForm.hasError('min')) {
                <mat-error class="mat-error-rtl">הערך חייב להיות גדול מ-0</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="commanders-required">
            <mat-label>מספר מפקדים</mat-label>
            <input matInput type="number" [formControl]="commandersRequiredForm" min="1" required>
            @if (durationForm.hasError('required')) {
                <mat-error class="mat-error-rtl">שדה חובה</mat-error>
            }
            @if (durationForm.hasError('min')) {
                <mat-error class="mat-error-rtl">הערך חייב להיות גדול מ-0</mat-error>
            }
        </mat-form-field>

        <div class="positions full">
            <h2 class="positions-title">תפקידים</h2>
            <div class="position-container">
                @for (pos of mission.positions ?? []; track $index) {
                    <div class="position">
                        <div class="position-select">
                            <mat-form-field>
                                <mat-label>תפקיד</mat-label>
                                <mat-select [formControl]="positionForms[$index]">
                                @for (position of positionOptions; track $index) {
                                    <mat-option [value]="position.key">{{position.value}}</mat-option>
                                }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="position-count">
                            <mat-form-field>
                                <mat-label>כמות</mat-label>
                                <input matInput type="number" [formControl]="positionCountForms[$index]" min="1" required>
                            </mat-form-field>
                        </div>
                    </div>
                }
            </div>
            <div class="add-position">
                <button mat-raised-button color="primary" (click)="onAddPosition()">הוסף</button>
            </div>
        </div>

        <div class="options">
            <div class="is-special">
                <mat-radio-group
                    [(ngModel)]="mission.isSpecial">
                    <mat-radio-button [value]="false">בט"ש</mat-radio-button>
                    <mat-radio-button [value]="true">מיוחדת</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="required-instances">
                <mat-radio-group
                    [(ngModel)]="mission.requiredInstances">
                    <mat-radio-button [value]="false">לא לחלק</mat-radio-button>
                    <mat-radio-button [value]="true">לחלק</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        
        @if(!mission.isSpecial) {
            <mat-form-field class="mission-dates">
                <mat-label>הכנס טווח תאריכים</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="תאריך התחלה" [formControl]="startDateForm">
                  <input matEndDate placeholder="תאריך סיום" [formControl]="endDateForm">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field class="start-time">
                <mat-label>שעת התחלה</mat-label>
                <input matInput [formControl]="startTimeForm" required>
            </mat-form-field>

            <mat-form-field class="end-time">
                <mat-label>שעת סיום</mat-label>
                <input matInput [formControl]="endTimeForm" required>
            </mat-form-field>

            @if(datesRange.length && mission.requiredInstances) {
                <div class="dates-instances">
                    @for (date of datesRange; track date) {
                        <div class="date-instance">
                            <div class="date-string">
                                {{date.toLocaleDateString('en-GB')}}
                            </div>
                            <div class="instance-chips">
                                <mat-chip-set>
                                    @for(instance of getInstances(date); track instance) {
                                        <mat-chip [removable]="true" (removed)="onRemovedInstance(date, instance)">{{instance.from}}-{{instance.to}}
                                            <button matChipRemove [attr.aria-label]="'remove ' + instance">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                            <mat-icon class="edit-action-icon" (click)="onEdtMissionInstance(instance)">edit</mat-icon>
                                        </mat-chip>
                                    }
                                  </mat-chip-set>
                            </div>
                            <div class="add-instance">
                                <button mat-mini-fab color="primary" (click)="onAddMissionInstance(date)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        @else {
            <mat-form-field color="accent">
                <mat-label>בחר תאריך</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="specialTime">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            
            <mat-form-field class="start-time">
                <mat-label>שעת התחלה</mat-label>
                <input matInput [(ngModel)]="mission.fromTime" required>
            </mat-form-field>

            <mat-form-field class="end-time">
                <mat-label>שעת סיום</mat-label>
                <input matInput [(ngModel)]="mission.toTime" required>
            </mat-form-field>
        }
        
    
    </div>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="cancel">בטל</button>
    <button mat-raised-button (click)="onOk()" cdkFocusInitial color="primary" class="accept" [disabled]="!isValid()">אשר</button>
</mat-dialog-actions>


<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->