:host {
    flex: 1 1 auto;
}

.soldiers-select {
    max-height: calc(100vh - 66px - 60px - 111px) !important;    
    height: calc(100vh - 66px - 60px - 111px) !important;
    overflow-y: auto;

    .soldiers-filter {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .soldiers-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-end;
        max-height: calc(100% - 78px);
        overflow-y: auto; 
        overflow-x: hidden;
    
        .soldier {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 5px;

            .soldier-checkbox {
                display: flex;
                flex:10%;
                justify-content: flex-end;
            }

            .soldier-name {
                display: flex;
                flex:50%;
                justify-content: flex-end;
            }

            .soldier-positions {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                flex:20%;
                justify-content: flex-end;
            }

            .soldier-platoon {
                display: flex;
                flex:40%;
                justify-content: flex-start;

                &.with-positions {
                    flex:20% !important;
                }
            }
        }
    }
}