<div class="assignments-by-soldier">
    @for(soldier of soldierAssByDay!.keys(); track $index) {
        <div class="soldier">
            <div class="soldier-name">
                {{soldier.name}}
            </div>
            @for (date of soldierAssByDay!.get(soldier)!.keys(); track $index) {
                <div class="date">
                    <div>{{date}}</div>
                </div>
                @for (assignment of soldierAssByDay!.get(soldier)!.get(date); track $index) {
                    <div class="assignment">
                        <div class="assignment-name">
                            {{instanceToMissionDic?.get(assignment.missionInstance?.id!)?.name}}
                        </div>
                        <div class="range">
                            <div class="from-time">{{parseStrToDate(assignment.missionInstance?.fromTime) | date: 'HH:mm'}}</div>
                            <div>-</div>
                            <div class="to-time">{{parseStrToDate(assignment.missionInstance?.toTime) | date: 'HH:mm'}}</div>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>