<mat-toolbar color="primary" class="rtl">
  <button mat-icon-button class="hamburger" (click)="toggleNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <mat-icon svgIcon="bat-logo" class="batalion-icon"></mat-icon>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" position="end">
    <mat-nav-list >
      @for (link of sidenavLinks; track $index) {
        @if(((userRole$ | async) ?? -1) >= link.role) {
          <a 
            mat-list-item 
            [routerLink]="link.url" 
            [activated]="link.selected" 
            (click)="onSelectLink(link)">
              {{ link.name }}
          </a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>