<h2 mat-dialog-title class="dialog-title">שיבוץ ידני</h2>
<mat-dialog-content class="manually-assign-content">
    <div class="manually-assign separator-down">
        <div class="selection">
            <app-instance-view class="instance-view" [missionInstances]="data.missionInstances" (instanceSelect)="onInstanceSelect($event)"></app-instance-view>
            <app-soldiers-select [soldiers]="(soldiers$ | async) ?? []" (selectedSoldiersChanged)="onSoldiersSelected($event)"></app-soldiers-select>
            <app-available-soldiers 
                [availableSoldiers]="(availableSoldiers$ | async) ?? []" 
                [selectedInstanceAssignedSoldiers]="selectedInstanceAssignedSoldiers"
                [canSelectSoldiers]="canSelectSoldiers"
                [selectedInstance]="selectedInstance ?? defaultInstance"
                (availableSoldiersSelected)="onAvailableSoldiersSelected($event)">
            </app-available-soldiers>
        </div>
        <div class="selection-summary">
            <app-selection-summary 
                [positions]="assignedMisionPositions" 
                [soldiers]="selectedAvailableSoldiers"
                [instance]="selectedInstance">
            </app-selection-summary>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="cancel">בטל</button>
    <div class="errors">
        @for (error of errors; track $index) {
            <div class="error">
                {{error}}
            </div>
        }
    </div>
    <button mat-raised-button (click)="onOk()" cdkFocusInitial color="primary" class="accept">אשר</button>
</mat-dialog-actions>