
:host {
    overflow-y: auto;
}

.instance-view {
    max-height: calc(100vh - 66px - 60px - 85px) !important;    
    height: calc(100vh - 66px - 60px - 85px) !important;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;

    .instance {
        padding: 7px;
        align-self: stretch;
        cursor: pointer;

        &:hover {
            background-color: rgb(169, 255, 169);

        }

        &.selected {
            box-shadow: 0px 0px 5px 1px lime inset; 
        }
    }
}