
.instance-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;

    .instance {
        padding: 5px;
        align-self: stretch;
        cursor: pointer;

        &:hover {
            background-color: rgb(169, 255, 169);

        }

        &.selected {
            box-shadow: 0px 0px 5px 1px lime inset; 
        }
    }
}