<div class="reset-password">
    @if(!username) {
        <div class="username">
            <mat-form-field class="small-col">
                <mat-label>שם משתמש</mat-label>
                <input matInput [(ngModel)]="username" name="username" required>
            </mat-form-field>
        </div>
    }
    <div class="new-password">
        <mat-form-field class="small-col">
            <mat-label>סיסמא</mat-label>
            <input 
                matInput 
                [formControl]="passwordControl"
                [errorStateMatcher]="matcher"
                name="password" 
                required>
                @if (passwordControl.hasError('required')) {
                    <mat-error>שדה חובה</mat-error>
                }
                @if (passwordControl.hasError('mismatch')) {
                    <mat-error>הסיסמאות לא תואמות</mat-error>
                }
        </mat-form-field>
    </div>
    <div class="repeat-password">
        <mat-form-field class="small-col">
            <mat-label>חזור על הסיסמא</mat-label>
            <input 
                matInput 
                [formControl]="repasswordControl"
                [errorStateMatcher]="matcher"
                name="repassword" 
                required>
                @if (passwordControl.hasError('required')) {
                    <mat-error>שדה חובה</mat-error>
                }
                @if (repasswordControl.hasError('mismatch')) {
                    <mat-error>הסיסמאות לא תואמות</mat-error>
                }
        </mat-form-field>
    </div>
    <div class="reset">
        <button 
            mat-raised-button 
            cdkFocusInitial 
            color="primary" 
            type="submit" 
            class="accept"
            [disabled]="repasswordControl.invalid || passwordControl.invalid"
            (click)="onReset()">
                אפס סיסמא
        </button>
    </div>
</div>