.manually-assign-content {
    padding-bottom: 0px !important;
    height: calc(100% - 66px - 60px);
    max-height: calc(100% - 66px - 60px);
}

.manually-assign {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;

    .selection {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        flex: 1 1 0;
        height: 100%;
        overflow: hidden;
    }

    .selection-summary {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 0 0 250px;
        height: 100%;
        overflow-y: auto;
    }
}

.errors {
    display: flex;
    flex-direction: row-reverse;
    .error {
        color: red;
        direction: rtl;
        font-weight: bold;
        font-size: 20px;
    }
}