:host {
    flex: 0 0 auto;
    min-width: 150px;
    height: 100%;
    overflow: hidden;
}

.instance-view {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;

    .instance {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 7px;
        align-self: stretch;
        cursor: pointer;

        &:hover {
            background-color: rgb(169, 255, 169);

        }

        &.selected {
            box-shadow: 0px 0px 5px 1px lime inset; 
        }
    }
}