<div class="selection-summary-container">
    <div class="instance">
        {{instance?.fromTime}} - {{instance?.toTime}} 
    </div>
    —
    <div class="positions">
        @for (pos of positions ?? []; track $index) {
            <div class="position" [ngClass]="{'negative': pos.count - pos.assigned < 0}">
                <div class="title">
                    :{{getPositionTitle(pos)}}
                </div>
                <div class="count">
                    {{pos.count - pos.assigned}}
                </div>
            </div>
        }
    </div>
</div>